<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>坠好用的上位机</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://d3js.org/d3-array.v2.min.js"></script>
        <script src="https://d3js.org/d3-color.v1.min.js"></script>
        <script src="https://d3js.org/d3-format.v1.min.js"></script>
        <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
        <script src="https://d3js.org/d3-time.v1.min.js"></script>
        <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
        <script src="https://d3js.org/d3-scale.v3.min.js"></script>
        <script src="https://d3js.org/d3-selection.v1.min.js"></script>
        <script src="https://d3js.org/d3-axis.v1.min.js"></script>
        <script src="https://huww98.github.io/TimeChart/dist/timechart.min.js"></script>
    </head>
<body>
    <div class="container">

        <div class="alert alert-info" id="info-title">
            <strong>坠好用的上位机</strong>
        </div>

        <div class="row">

            <div class="col-md-3">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-serialport-tab" data-toggle="tab" href="#nav-serialport" role="tab" aria-controls="nav-home" aria-selected="true">串口</a>
                        <a class="nav-item nav-link" id="nav-read-tab" data-toggle="tab" href="#nav-read" role="tab" aria-controls="nav-profile" aria-selected="false">观察</a>
                        <a class="nav-item nav-link" id="nav-write-tab" data-toggle="tab" href="#nav-write" role="tab" aria-controls="nav-contact" aria-selected="false">修改</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-serialport" role="tabpanel" aria-labelledby="nav-home-tab">
                        <p>
                        <div class="row">
                            串口：
                            <select id="serialport" class="serialport custom-select d-block" v-model="selected">
                                <option v-for="serialList in serialLists" v-bind:value="serialList">{{serialList}}</option>
                            </select>
                        </div>
                        </p>
                        <div id="serialbtn">
                            <p><button class="btn btn-primary" v-on:click="openserial">打开串口</button></p>
                            <p><button class="btn btn-danger" v-on:click="closeserial">关闭串口</button></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-read" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NewVariable" data-whatever="@getbootstrap">添加变量</button>
                        <button type="button" class="btn btn-primary" id="openWS">启动</button>
                        <button type="button" class="btn btn-danger" id="closeWS">停止</button>
                        <div class="modal fade" id="NewVariable" tabindex="-1" role="dialog" aria-labelledby="NewVariableLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content" id="variableadd">
                                <div class="modal-header">
                                <h5 class="modal-title" id="NewVariableLabel">添加变量</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                <form>
                                    <input type="hidden" id="variable-data" value="0">
                                    <div class="form-group">
                                        <label for="variable-board" class="col-form-label">板子代号</label>
                                        <input class="form-control" id="variable-board" type="number" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label for="variable-name" class="col-form-label">变量名</label>
                                        <input class="form-control" id="variable-name" type="text" value="A" v-model="Name"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="variable-type" class="col-form-label">变量类型</label>
                                        <select id="variable-type" class="form-control custom-select d-block" v-model="selected">
                                            <option v-for="type in Types" v-bind:value="type">{{type}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="variable-addr" class="col-form-label">变量地址</label>
                                        <input class="form-control" id="variable-addr" type="text" value="20004a40" v-model="Addr"></input>
                                    </div>
                                </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" v-on:click="variableadd">添加</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div id="variablelist">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>类型</th>
                                        <th>地址</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(list,index) in lists">
                                        <td>{{list.Name}}</td>
                                        <td>{{list.Type}}</td>
                                        <td>{{hexdsp(list.Addr)}}</td>
                                        <td><button type="button" class="close" aria-label="关闭" v-on:click="variabledel(index)">
                                            <span aria-hidden="true">&times;</span>
                                        </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-write" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
            </div>

            <div class="col-md-9">
                <div id="chart" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </div>
    <script src="/assets/js/serial.js"></script>
    <script src="/assets/js/variable.js"></script>
    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/websocket.js"></script>
</body>
</html>
